.test {
    background-color: red;
}

.start-button {
    width: 100%;
}

.seal-control {
    margin-bottom: 10px;
}

.seal-conctrol-board {
    height: 100px;
    /* border-style: solid; */
    border-radius: 9px;
    padding: 10px;
    border: 1px solid #eee;
}
